footer {
    display: grid;
    grid-area: footer;
    align-content: end;
    justify-content: center;
    background-color: #FFF;
    padding: 1.5em;
    box-shadow: 0 1px 20px 0 rgba(46, 61, 73, .2);
}

