@import "colors.css";

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px;
  padding: 0px;
}

.header-logo {
  display: flex;
}

.header img {
  width: 60px;
  height: 60px;
  align-self: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header li {
  display: inline-block;
}

.nav-header a {
  font-size: 1.2em;
  padding: 20px 8px;
  text-decoration: none;
}

.nav-header a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bolder;
}

/* Media Queries */

@media(max-width: 320px) {

  .header-logo {
    align-self: center;
    font-size: 1em;
    padding: 1em;
  }

  .header img {
    width: 60px;
    height: 60px;
    padding: 1em;
    align-self: center;
  }

  .nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .nav-header ul {
    padding-left: 0;
  }

  .nav-header li {
    margin-bottom: 5px;
  }

  .nav-header a {
    font-size: 0.8em;
    padding: 0;
  }
}

@media(min-width: 321px) and (max-width: 900px) {
 
  .header-logo {
    align-self: center;
    font-size: 1em;
    padding: 1em;
  }

  .header img {
    padding: 0.5em;
  }

  .nav-header {
    justify-content: space-around;
  }

  .nav-header ul {
    padding-left: 0;
  }

  .nav-header li {
    margin-bottom: 5px;
  }

  .nav-header a {
    font-size: 1em;
    padding: 0;
  }
}

@media(min-width: 901px) {
 
  .header img {
    padding: 4em;
  }

  .nav-header ul {
    padding-left: 4.25em;
  }

  .nav-header a {
    font-size: 1.2em;
    text-decoration: none;
  }
}
