@import "colors.css";
@import "style.css";

main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "card card card";
    padding: 2em;
}
   

