.author {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-area: sec;
  padding: 4em 1em;
  justify-content: center;
  background-color: var(--grey-color);
}

.author h1 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.author-grid {
  display: grid;
  grid-template-areas: "img div";
  grid-gap: 2em;
  justify-self: left;
  padding-left: 2em;
}

.author-grid img {
  width: 10em;
  height: 100%;
  border-radius: 50%;
}

.author-grid div {
  grid-area: div;
}

.social-media-icons {
    display: flex;
    justify-content: left;
    margin-bottom: 2em;
  }
  
  .social-media-icons img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 2em;
  }

/* Media Queries for medium screens */

@media(max-width: 320px) {

  .author-grid img {
    width: 10em;
    height: 90%;
    border-radius: 50%;
  }

  .social-media-icons {
    display: flex;
    justify-content: left;
    margin-bottom: 2em;
  }
  
    .social-media-icons img {
      width: 1.5em;
      height: 1.5em;
      margin-right: 2em;
    }
}

@media (min-width: 321px) and (max-width: 900px) {
  
  .author-grid img {
    width: 10em;
    height: 100%;
    border-radius: 50%;
  }

  .social-media-icons {
    display: flex;
    justify-content: left;
    margin-bottom: 2em;
  }
  
    .social-media-icons img {
      width: 1.5em;
      height: 1.5em;
      margin-right: 2em;
    }
}
}