.author {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-area: sec;
    padding: 4em 1em;
    justify-content: center;
    background-color: var(--grey-color);
}

.author h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.author-grid {
    display: grid;
    grid-template-areas: 
    "img div";
    grid-gap: 2em;
    justify-self: left;
    padding-left: 2em;
}

.author-grid img {
    width: 10em;
    height: 100%;
    border-radius: 50%;
    grid-area: img; 
}

.author-grid div {
    grid-area: div;
}

.author a {
    margin-left: 0px;
}