footer {
  grid-area: footer;
  background-color: var(--accent-color);
  box-shadow: 0 1px 20px 0 rgba(46, 61, 73, 0.2);
  padding: 4em 0;
  text-align: center;
}

.social-media-links {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.social-media-links img {
  width: 1.5em;
  height: 1.5em;
  margin: 0 1em;
}

footer h4 {
  margin-bottom: 1em;
  font-size: 0.9em;
}