@import "base.css";
@import "card.css";
@import "colors.css";
@import "footer.css";
@import "header.css";
@import "hero.css";
@import "main.css";
@import "susbscribe.css";


body {
  display: grid;
  height: 100%;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "hero"
    "main"
    "sub"
    "footer";
  margin: 0;
  font-family: "Abel", sans-serif;
}
