@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);
@import "author.css";
@import "article.css";
@import "../../css/base.css";
@import "../../css/buttons.css";
@import "../../css/colors.css";
@import "../../css/footer.css";
@import "../../css/header.css";
@import "../../css/susbscribe.css";


body {
  display: grid;
  height: 100%;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "sec"
    "art"
    "sub"
    "footer";
  margin: 0;
  font-family: "Abel", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}